{% extends "base.html" %}
{% block content %}
<link href="/static/css/pages.css" rel="stylesheet">
<div itemscope itemtype="http://www.schema.org/LocalBusiness" class="row marketing" style="padding:12px;">
<h1> Child Birth Education </h1>


<h4> Class one </h4> 
How to have a faster, less painful, easier labor<br>
Through nutrition and exercise, starting now will save you in birth day   <br>
The truth about labor-- It's not like the movies<br>
Labor often begins slowly. There's no need to panic! (the stages of labor)<br>
Normal birth<br>
The way birth was meant to be  <br>
<br>
<h4>Class Two</h4>
<h5>Status Quo</h5>
What does "The standard of care" mean and why is it important for you to know?<br>
(routine procedures in pregnancy, during labor and birth, and for newborns)<br>
Wait, Wait, What are you doing?<br>
It's your body, You're in charge.  <br>
(Informed consent)<br>
Knowledge is power<br>
Preparing for every possibility and knowing your options ahead of time gives you more confidence to speak up during YOUR birth.<br>
(creating a birth plan)<br>

 
<h4>Class Three</h4><br>
I want it to hurt less and be shorter!<br>
How different positions can ease contraction discomfort, help the baby move down faster, and shorten pushing times. <br>
(birthing positions)<br>
How can you take it? I'm going to need drugs.<br>
It's not about white knuckling through it. Ways to cope-- one contraction at a time.<br>
(comfort measures and relaxation techniques)<br>
 

<h4>Class Four </h4><br>
Uh, oh. Now what?<br>
When things don't go as planned, can your birth plan still be salvaged?<br>
(unexpected outcomes)<br>
Congratulations! It's a baby! What do I do with it?<br>
The first hours after delivery can be hectic. What to expect. <br>
(postpartum and newborn care)<br>
Got Milk?<br>
Breastfeeding can be daunting at first. How to get through the first 6 weeks<br>

<font color="red"><h5>Fees</h5></font>
doula services:<br>
$200.00 	As a retainer fee when you choose me as your Doula<br>
$400.00	Within one month after the birth<br>
$600.00	Total<br>

childbirth education classes:<br>
$200 (mother and one partner) for a four week session, plus one labor rehearsal class<br>
<br>
<br>
<br>
<br>
<br>
<br>
I believe it is the right of every woman to have a safe and satisfying birth experience. Every woman deserves the support she needs in labor, 
but I know financial concerns can sometimes discourage families from seeking that support. There are circumstances under which I am open to alternative payment arrangements; 
please feel free to ask.


</div>



{% endblock %}