{% extends "base.html" %}
{% block content %}
 
      <div itemscope itemtype="http://www.schema.org/LocalBusiness class="row marketing" style="padding:15px;">
         <div class="logo_i col-md-6">
	<img src="/static/flower.jpg" alt="Flower"> 
	</div>
        <div class="col-lg-2">
          <h3>Feel Free To Contact</h3>
          <p itemprop="email">karmadoula@gmail.com</p>
          <p itemprop="phonenumber">407-921-6634</p>
          <p> Proudly serving expectant mothers of the East Bay </p>
        </div>
    </div>
{% endblock %}