{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="oi_page_cont_holder main_content_area">
    <div class="jumbotron">
      <div class="container">
      <h1 style="text-align:center;">Karma Doula</h1>
        <p>Your birth is an experience that you will remember for the rest of your life. We carry it with us as we mother our babies and its memory leaves an indelible imprint on our future births.
         We relive it in the births of our friends and family, and when our daughters give birth to our grandchildren. I believe that what makes that experience wonderful or disappointing is not its idealness,
        but the role we take in its outcome. It is my desire to empower women to take responsibility for their births and to assist them in achieving a safe and satisfying birth experience.
</p>
        <p><a class="btn btn-primary btn-lg" href="/services" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
     

    	<div class="container">

        	<div class="row">

   					<div style="text-align:center;" itemscope itemtype="http://www.schema.org/LocalBusiness">                                    
		<img src="/static/flower.jpg" alt="Flower">		

</div>
			</div>
		</div>
	</div>
    <!-- /.container -->
 
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
   

         
{% endblock %}