{% extends "base.html" %}
{% block content %}
<div itemscope itemtype="http://www.schema.org/LocalBusiness" class="row marketing" style="padding:15px;">

<h3>PREGNANCY, BIRTH, AND POSTPARTUM RESOURCES</h3>


<h4 style="strong">Local Resources </h4>


La Leche League meetings
<a href="http://www.llli.org/web/california.html">http://www.llli.org/web/california.html</a>


<h4 style="strong">Pregnancy and birth resources </h4>

DONA International
<a href="www.dona.org">www.dona.org</a>

<h4 style="strong">Breastfeeding Resources</h4>


La Leche League international 
www.llli.org

Dr Jack Newman
http://www.drjacknewman.com/


</div>
{% endblock %}