{% extends "base.html" %}
{% block content %}
      <div class="row marketing container-fluid">
         <h3 style="color:444242; text-align:center; padding-left:12px; padding-bottom:20px;"> Birth Doula Services </h3>
			<div class="col-md-4 container-fluid">
				<h4>Prenatal</h4>
					<p class="doula">Our initial consultation is free, and does not obligate you to use my services. We will have at least one other prenatal appointment to discuss your priorities and how we might best work together.
	We may decide on other meetings and I am available by phone or email to answer questions or discuss concerns. </p>
			</div>
				<div class="col-md-4 container-fluid imagediv container1">
					<span><img src="/static/pregnancy.jpg" alt="pregnant heart" class="img-circle"> </span>
				</div>
			<div class="col-md-4 container-fluid">
				<h4>Labor and Birth</h4>
					<p class="doula">I will remain with you throughout your labor and birth providing physical comfort measures, suggestions for laboring positions, encouragement 
and emotional support, as well as any information you may need in order to make decisions about your care.</p>
			</div>
			
	<div class="col-md-8"></div>
	<div class="col-md-10 container-fluid centered_div" style="padding-top:30px;">
				<h4>After Birth</h4>
					<p>I remain with you for one to two hours after your birth, to help with initial breastfeeding, if necessary, and to make sure you and your family are comfortable.
In a home birth I will help with clean up and prepare a meal for your family, if desired. I am available by phone and email to answer any questions about the birth or your baby,
 and would like to meet again with you in one to two weeks for a final postpartum appointment.<p>
 				</div>
			</div>
{% endblock %}